* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-color: #7fffd4;
}

h1 {
  text-align: center;
}

.main {
  background-color: white;
  width: 70vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}

input,
select,
h1 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 10px;
}

textarea,
[type="submit"] {
  width: 100%;
  margin-top: 1rem;
}

[type="submit"] {
  padding: 5px;
}
